body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255,255,255,0.9);
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #404040;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin: 0;
}

.modes-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.mode {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.mode:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.rules {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.gap {
    width: 20px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: transparent;
    border: 1px solid transparent;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 48px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 48px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game-info {
    margin-left: 20px;
}


.icons-attribution, .game-status, .fallen-soldier-block{
    margin-top: 20px;
    min-height: 50px;
}

/*Board color scheme Wheat from http://omgchess.blogspot.com/2015/09/chess-board-color-schemes.html*/
.square{
    background-color: RGB(234,240,206);
}

#player-turn-box{
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    margin-bottom: 10px;
}